@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;800&family=Lato:ital,wght@1,300&family=Poppins:wght@500&display=swap');
  *{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

  body{
    background-color: #7ec8e373;
    width: 940px;
    margin: auto;
    padding: 15px;
  }

  header{
    text-align: center;
  }
  header  p{
    margin-top: 0;
  }

  .input{
    width: 500px;
    height: 430px;
    padding: 10px;
    background-color: #0074B7;
    border-radius: 15px;
    display: inline-block;
  }
  .frase{
    padding: 10px;
    height: 300px;
  }
  .frase textarea{
    width: 470px;
    height: 270px;
    font-size: 22px;
    background: none;
    border: none;
  }
  ::placeholder{
    color: black;
  }
  
  .advertisement{
    padding: 10px;
    height: 90px;
    display:  flex ;
    flex-direction:   column ;
    justify-content: center;
    color: white;
  }
  .exclamation{
    content: url(https://api.iconify.design/bi/exclamation-circle-fill.svg);
    display: inline-block;
    margin-right: 5px;
    width: 9px;
  }
  .advertisement .text{
    display:  inline-block;
    font-size: 9px;
    position: relative;
    left: 50px;
  }
  .advertisement .enc-des {
    display: flex;
    justify-content: center;
  }
  .advertisement .enc-des .button{
    
    width: 180px;
    margin-right: 10px;
  }
  .output{
    width: 300px;
    height: 430px;
    padding: 10px;
    margin: 0 0 0 85px;
    display: inline-block;
    position: absolute;
  }
  .outcome{
     background-color: #0074B7;
    border-radius: 15px;
     text-align: center;
     height: 410px;
     padding: 10px;
  }
  .outcome #muneco{
    width: 250px;
  }
  .outcome p{
    color: white;
  }
  .text-output{
    background-color: #0074B7;
    border-radius: 15px;
    height: 410px;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .text-output p{
    font-size: 15px;
  }
  button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: antiquewhite;
    border: 1px solid black;
  }
  .enc-des button{
    margin-right: 10px;
  }
  .text-output form {
    position: absolute;
    bottom: 25px;
    padding:  10px;
  }
  footer{
    text-align: center;
    margin-top: 10px;
  }
  footer p{
    padding: 7px;
    color: black;
  }